.sort {
  color: #706b89;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.select {
  width: 30% !important;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  /* border: 1px solid #ddd; */
  /* padding: 8px !important; */
  /* padding: 10px 10px !important;
  text-align: center !important; */
}

/* table tr:nth-child(even) {
  background-color: #f2f2f2 !important;
} */

/* table tr:hover {
  background-color: #ddd;
} */

/* tr {
  border: 1px solid #212121 !important;
  background: #eee6e2 !important;
} */

tr td label {
  color: #212121 !important;
  font-family: Poppins;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 29.235px !important;
}

td {
  color: #4c5563;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.235px;
}

table th {
  padding: 15.7px 23.55px;
  padding-bottom: 12px;
  /* text-align: center; */
  /* background-color: #fff; */
  color: #212121;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 19.625px !important;
}
.approved {
  width: 126.851px !important;
  padding: 9.758px 12.197px !important;
  background: #003b3b !important;
  color: #fff !important;
  font-family: Poppins !important;
  font-size: 14.637px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.decline {
  width: 126.851px !important;
  padding: 9.758px 12.197px !important;
  background: #ef1e1e !important;
  color: #fff !important;
  font-family: Poppins !important;
  font-size: 14.637px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21.955px */
}
